{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили это письмо, потому что запросили пароль
сбросить для вашей учетной записи пользователя на {{ site_name }}.{% endblocktrans %}

{% trans "Перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Ваш никнейм, в случае, если вы его забыли:' %} {{ user.get_username }}

{% trans "Спасибо за использование моего сайта" %}

{% blocktrans %}Команда {{ site_name }} портала {% endblocktrans %}

{% endautoescape %}
